.configuration {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 2em;

    &, & * {
        transition: 0.3s ease;
    }
}

.configuration__tab {
    display: flex;
}

.configuration__tab > :first-child {
    border-top-left-radius: var(--radius-outer);
}

.configuration__tab > :last-child {
    border-top-right-radius: var(--radius-outer);
}

.configuration__tab-item {
    cursor: pointer;

    background-color: var(--color-background);
    color: var(--color-text-muted);

    padding: 1em 2em;

    font-weight: bold;

    /* ========== [ ---STATES ] ========== */
    &.---active {
        cursor: default;

        background-color: var(--color-brand);
    }

    &.---active > span {
        color: var(--color-surface);
    }

    /* ========== [ :BEHAVIORS ] ========== */
    &:not(.---active):hover {
        background-color: var(--color-brand-hover);
    }
}

.configuration__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--color-background);

    padding: 2em;

    border-top-right-radius: var(--radius-outer);
    border-bottom-left-radius: var(--radius-outer);
    border-bottom-right-radius: var(--radius-outer);

    box-shadow: var(--shadow-surface);
}

.configuration__container > h1 {
    color: var(--color-brand);

    font-size: 2rem;
    font-weight: bold;

    text-shadow: var(--shadow-text);
}

.configuration__container-content {
    display: flex;
    gap: 2rem;

    flex: 1;
    width: 100%;
}

.container-content__table {
    flex: 1;
}

.container-content__sidebar {
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--color-surface);

    width: 25rem;

    padding: 2em;

    border-radius: var(--radius-inner);
    box-shadow: var(--shadow-surface);
}

.container-content__sidebar > h3 {
    color: var(--color-brand);

    font-size: 2rem;
    font-weight: bold;

    text-shadow: var(--shadow-text);
}

.container-content__sidebar-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar-form__product, .sidebar-form__bill, .sidebar-form__stock {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--color-background);

    padding: 1em;

    border: 3px solid var(--color-border);
    border-radius: var(--radius-inner);
}

.sidebar-form__action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sidebar-form__action > button {
    width: 8rem;
}


.medicine-row {
    &.---active {
        background-color: var(--color-brand) !important;
    }

    &.---active > * {
        color: var(--color-surface);
    }
}
