.header {
    grid-area: 1 / 2 / 2 / 3;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 0;

    background-color: var(--color-background);

    height: 100%;
    width: 100%;

    padding: 1em;
    box-shadow: var(--shadow-surface);

    &, & * {
        transition: 0.3s ease;
    }
}

.header > h3 {
    color: var(--color-brand);

    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: bold;

    text-shadow: var(--shadow-text);
}

.header__action {
    flex: 1;

    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.header__action-greet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.25rem;
}

.header__action-greet > span:first-child {
    font-weight: bold;
}

.header__action-profile {
    position: relative;
}

.header__action-profile > img {
    cursor: pointer;

    height: 3rem;
    border-radius: var(--radius-circle);
}

.action-profile__container {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    right: 0;

    background-color: var(--color-background);

    height: 0rem;
    width: 20rem;

    border: none;
    border-radius: var(--radius-outer);

    box-shadow: var(--shadow-surface);

    &, & > * {
        transition: 0.3s ease;
    }

    /* ========== [ ---STATES ] ========== */
    &.---show {
        height: 14.125rem; /* Ewan basta 14.125 since di nag a animate kapag ng fit-content*/
        border-top: 6px solid var(--color-brand);
    }
}

.action-profile__container > *:not(:first-child) {
    cursor: pointer;

    width: 100%;

    padding: 1em 2em;
    text-align: center;

    /* ========== [ :BEHAVIORS ] ========== */
    &:hover {
        background-color: var(--color-brand-hover);
    }
}

.action-profile__container > hr {
    margin-bottom: 1rem;

    padding: 0em !important;

    border-color: var(--color-brand-hover);
    outline: none;
}

.action-profile__container-header {
    display: flex;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    padding: 1em;
}

.action-profile__container-header > img {
    align-self: center;

    height: 4rem;
    border-radius: var(--radius-circle);
}

.action-profile__container-header > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.action-profile__container-header > section > span:last-child {
    color: var(--color-brand);

    width: fit-content;

    padding: 0.25em 0.5em;

    border: 3px solid var(--color-brand);
    border-radius: var(--radius-inner);

    font-weight: bold;
}

.action-profile__container > :last-child {
    border-bottom-left-radius: var(--radius-outer);
    border-bottom-right-radius: var(--radius-outer);

    /* ========== [ :BEHAVIORS ] ========== */
    &:hover {
        background-color: var(--color-error-light);
        color: var(--color-error);
    }
}
