.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    width: 100%;

    padding: 2em;
}

.profile__header {
    display: flex;
    gap: 2rem;
}

.profile__header-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile__header-image img {
    height: 8rem;
    width: 8rem;

    border-radius: var(--radius-circle);
}

.profile__header-detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile__header-detail h1 {
    color: var(--color-brand);
    margin-bottom: 1rem;
}

.profile__header-detail p span {
    color: var(--color-brand);
}

.profile__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile__card-block {
    background-color: var(--color-background);

    border-radius: var(--radius-inner);

    box-shadow: var(--shadow-hover);
}

.profile__card-block h1 {
    color: var(--color-brand);

    padding: 1em;
    border-bottom: 2px solid var(--color-border);
}

.card-block__detail {
    display: flex;
    justify-content: center;
}

.card-block__detail-block {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: 2em;
}

.detail-block__header {
    color: var(--color-brand);
}
