.sidebar {
    grid-area: 1 / 1 / 3/ 2;

    background-color: var(--color-accent);

    height: 100%;
    width: 100%;
}

.sidebar__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1em;
}

.sidebar__header > img {
    height: 4rem;
    border-radius: var(--radius-circle);
}

.sidebar__header > h3 {
    color: var(--color-surface);

    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: bold;

    text-shadow: var(--shadow-text);
}

.sidebar__navigation {
    display: flex;
    flex-direction: column;

    &, & * {
        transition: 0.3s ease;
    }
}

.sidebar__navigation-divider {
    opacity: 0.75;

    position: relative;
    z-index: 0;

    margin: 1rem 0rem;

    font-size: 0.75rem;
    font-weight: bold;

    text-align: center;
    letter-spacing: 6px;
}

.sidebar__navigation-divider > hr {
    position: absolute;
    top: 50%;
    z-index: -1;

    border-color: var(--color-brand-hover);
    outline: none;

    width: 100%;

    transform: translateY(-50%);
}

.sidebar__navigation-divider > span {
    background-color: var(--color-accent);
    color: var(--color-brand-hover);

    padding: 0.5em 1em;
}

.sidebar__navigation-item {
    cursor: pointer;
    opacity: 0.75;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    height: 3.5rem;

    padding: 1em 1.5em;

    & > * {
        color: var(--color-surface);
    }

    /* ========== [ ---STATES ] ========== */
    &.---active {
        cursor: default;
        opacity: 1;

        background-color: var(--color-surface);

        padding-left: 2.5em;

        border-left: 9px solid var(--color-brand);

        box-shadow: var(--shadow-hover);
    }

    &.---active > * {
        color: var(--color-brand);
        font-weight: bold;
    }

    /* ========== [ :BEHAVIORS ] ========== */
    &:not(.---active):hover {
        opacity: 1;
        background-color: var(--color-brand-hover);
    }
}
