<form id="loginForm" class="login">
    <div class="theme__textfield">
        <svg height="28" width="28">
            <use href="client/assets/icons/authentication.svg#icon-mail"></use>
        </svg>
        <input id="emailTextfield" type="email" name="email" autocomplete="email" placeholder="Email" required>
    </div>

    <div class="theme__textfield">
        <svg height="28" width="28">
            <use href="client/assets/icons/authentication.svg#icon-password"></use>
        </svg>

        <input id="passwordTextfield" type="password" name="password" placeholder="Password" required>

        <svg class="visibility-toggle" height="28" width="28">
            <use href="client/assets/icons/authentication.svg#icon-visibility-off"></use>
        </svg>
    </div>

    <a id="recoveryLink">Forgot Password</a>

    <button class="theme__button --primary" type="submit">
        <span>LOGIN</span>
    </button>
</form>
