<form id="resetForm" class="reset">
    <div class="theme__textfield">
        <svg height="28" width="28">
            <use href="client/assets/icons/authentication.svg#icon-password"></use>
        </svg>

        <input id="newPasswordTextfield" type="password" name="password" placeholder="New Password" required>

        <svg class="visibility-toggle" height="28" width="28">
            <use href="client/assets/icons/authentication.svg#icon-visibility-off"></use>
        </svg>
    </div>

    <div class="theme__textfield">
        <svg height="28" width="28">
            <use href="client/assets/icons/authentication.svg#icon-password"></use>
        </svg>

        <input id="confirmPasswordTextfield" type="password" name="password" placeholder="Confirm Password" required>

        <svg class="visibility-toggle" height="28" width="28">
            <use href="client/assets/icons/authentication.svg#icon-visibility-off"></use>
        </svg>
    </div>

    <button class="theme__button --primary" type="submit">
        <span>RESET</span>
    </button>
</form>
