.theme__notification-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 999;
}

.theme__notification {
    cursor: pointer;
    opacity: 0;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    height: 3.5rem;
    max-width: 30rem;

    padding: 1em;

    border-radius: var(--radius-inner);

    box-shadow: var(--shadow-surface);

    transform: translateX(120%);
    transition: transform 0.5s ease, opacity 0.5s ease, box-shadow 0.25s ease;

    &, & > * {
        transition: 0.3s ease;
    }

    /* ========== [ ---STATES ] ========== */
    &.---show {
        opacity: 1;
        transform: translateX(0);
    }

    /* ========== [ --TYPES ] ========== */
    &.--success {
        background-color: var(--color-success-light);
    }

    &.--success > svg {
        color: var(--color-success);
    }

    &.--warning {
        background-color: var(--color-warning-light);
    }

    &.--warning > svg {
        color: var(--color-warning);
    }

    &.--error {
        background-color: var(--color-error-light);
    }

    &.--error > svg {
        color: var(--color-error);
    }

    /* ========== [ :BEHAVIORS ] ========== */
    &:hover {
        box-shadow: var(--shadow-hover);
    }
}

.theme__notification > span {
    flex: 1;
    font-size: 1rem;
}
