
body {
    background: linear-gradient(135deg, #007bff, #7ab8ff);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    }

.container {
    position: relative;
}

.form-card {
    background: #fff;
    padding: 48px;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 360px;
    height: 500px;
    text-align: center;
    position: relative;
}

.form-card.forgot {
    padding: 48px;
    width: 360px;
    min-height: 360px;
    height: auto;
}

#toOtpForm {
    margin-top: 102px;
}

#toNewPasswordForm {
    margin-top: 102px;
}
.hidden {
    display: none;
}

h2 {
    margin-bottom: 8px;
    color: #333;
}

.subtitle {
    color: #999;
    font-size: 14px;
    margin-bottom: 32px;
}

.form-card > label {
    display: block;
    text-align: left;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    width: 100%;
    padding: 16px;
    border: none;
    background-color: #2e6df6;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 16px;
    }

button.google {
    background: transparent;
    border: 1px solid #2e6df6;
    color: #2e6df6;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #555;
}

.buttons {
    margin-top: 50px;
}
.options, button {
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: #2e6df6;
}

.back-link {
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 13px;
}

 .modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 32px;
    border-radius: 16px;
    text-align: center;
    width: 320px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.modal button {
    width: auto;
    padding: 12px 24px;
    margin-top: 16px;
}

.message {
    display: none;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.success { 
    color: #10B981; 
}

.fail { 
    color: #DC2626; 
}

.options label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}

.options input[type="checkbox"] {
    transform: scale(1.1);
    margin: 0;
    accent-color: #007bff;  
}
