.main-content {
  flex: 1;
  padding-top: 0px !important;
}

.summary {
  background-color: #D9D9D9;
}

.stats-top {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.stats-bottom {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.deduction-card {
  text-align: left !important;
}

.li {
  padding: 10px 15px;
}

/* alternating background colors */
.list-unstyled li:nth-child(odd) {
  background-color: #FFFFFF;
}

.list-unstyled li:nth-child(even) {
  background-color: #D3D4D9;
}