<div class="profile">

    <!-- ================= PROFILE HEADER ================ -->
    <section class="profile__header">
        <div class="profile__header-image">
            <img id="profilePicture" src="client/assets/images/default-user.webp" alt="User Icon" />

            <button class="component__button --primary" id="uploadPhotoBtn">
                <span>Upload Photo</span>
            </button>
        </div>

        <div class="profile__header-detail">
            <h1 id="profileFullname">Loading...</h1>

            <p>Position: <span id="profileSubRole">Loading...</span></p>
            <p>Department: <span id="profileRole">Loading...</span></p>
            <p>Employment Status: <span id="profileStatus">Loading...</span></p>
            <p>Employee ID: <span id="profileEmployeeID">Loading...</span></p>
        </div>
    </section>


    <!-- ================= PROFILE CARD ================ -->
    <section class="profile__card">

        <!-- ===== PERSONAL INFORMATION ===== -->
        <div class="profile__card-block">
            <h1>PERSONAL INFORMATION</h1>

            <section class="card-block__detail">

                <div class="card-block__detail-block">
                    <span class="detail-block__header">CONTACT NUMBER</span>
                    <span class="detail-block__data" id="profileContact">N/A</span>

                    <br />

                    <span class="detail-block__header">EMERGENCY CONTACT NUMBER</span>
                    <span class="detail-block__data" id="profileEmergency">N/A</span>
                </div>

                <div class="card-block__detail-block">
                    <span class="detail-block__header">DATE OF BIRTH</span>
                    <span class="detail-block__data" id="profileBirthdate">N/A</span>

                    <br />

                    <span class="detail-block__header">GENDER</span>
                    <span class="detail-block__data" id="profileGender">N/A</span>

                    <br />

                    <span class="detail-block__header">EMAIL ADDRESS</span>
                    <span class="detail-block__data" id="profileEmail">N/A</span>
                </div>

                <div class="card-block__detail-block">
                    <span class="detail-block__header">HOME ADDRESS</span>
                    <span class="detail-block__data" id="profileAddress">N/A</span>
                </div>

            </section>
        </div>


        <!-- ===== GOVERNMENT IDs ===== -->
        <div class="profile__card-block">
            <h1>GOVERNMENT IDENTIFICATION NUMBERS</h1>

            <section class="card-block__detail">

                <div class="card-block__detail-block">
                    <span class="detail-block__header">PAG-IBIG</span>
                    <span class="detail-block__data" id="profilePagibig">N/A</span>
                </div>

                <div class="card-block__detail-block">
                    <span class="detail-block__header">PHILHEALTH</span>
                    <span class="detail-block__data" id="profilePhilhealth">N/A</span>
                </div>

                <div class="card-block__detail-block">
                    <span class="detail-block__header">SSS</span>
                    <span class="detail-block__data" id="profileSSS">N/A</span>
                </div>

                <div class="card-block__detail-block">
                    <span class="detail-block__header">TIN</span>
                    <span class="detail-block__data" id="profileTIN">N/A</span>
                </div>

            </section>
        </div>

    </section>

</div>
