<section class="recommendation">
    <h1>SUGGESTION FORM</h1>

    <form id="recommendationForm" class="recommendation__form">
        <h3>We love to hear your thoughts!</h3>

        <label>
            Your Name (Optional):
            <div class="theme__textfield --no-icon">
                <input id="nameTextfield" class="theme__textfield" type="text" name="name" placeholder="Name" autocomplete="name">
            </div>
        </label>

        <label>
            What would you like to suggest?
            <textarea id="suggestionArea" class="theme__area" name="suggestion" placeholder="Suggestion" required></textarea>
        </label>

        <label>
            Additional message or detail:
            <textarea id="messageArea" class="theme__area" name="message" placeholder="Addtional message" required></textarea>
        </label>

        <button class="theme__button --primary" type="submit">
            <span>SUBMIT</span>
        </button>
    </form>
</section>
